In [35]:
import pandas as pd
import duckdb as db
import seaborn as sns
felonies_nyc= pd.read_csv("felony.csv")
for column in felonies_nyc.columns[1:]:
    if felonies_nyc[column].dtype != int:
        felonies_nyc[column] = felonies_nyc[column].str.replace(",", "").astype(int)

felonies_nyc.head()

,OFFENSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,MURDER & NON-NEGL. MANSLAUGHTER,673,649,587,597,570,539,596,496,523,...,335,333,352,335,292,295,319,468,488,438
1,RAPE,2068,1981,2144,2070,1905,1858,1525,1351,1299,...,1378,1352,1438,1438,1449,1794,1755,1427,1491,1617
2,ROBBERY,32562,28202,27229,25989,24373,24722,23739,21809,22401,...,19128,16539,16931,15500,13956,12913,13371,13106,13831,17411
3,FELONY ASSAULT,25924,23453,21147,19139,18622,17750,17309,17493,16284,...,20297,20207,20270,20847,20052,20208,20698,20572,22835,26063
4,BURGLARY,38352,32763,31275,29110,26976,24117,23143,21762,20725,...,17429,16765,15125,12990,12083,11687,10783,15478,12811,15746

In [ ]:
nyc_income= pd.read_csv('income.csv', encoding='latin1')

In [37]:
#reading in csv file
nyc_demographics= pd.read_csv('NYC_demographics.csv', encoding='latin1')

#changing year column values to int type so that they can be read as ints in further cleaning
nyc_demographics['Year']= nyc_demographics['Year'].astype(int)
#renaming column to prevent syntax issues 
nyc_demographics.rename(columns={'Non-Hispanic': 'NonHispanic'}, inplace=True)

#checking and changing column values that are originally objects and removing commas to facilitate float conversion later
for col in nyc_demographics:
    if nyc_demographics[col].dtype == 'object':
        nyc_demographics[col]= nyc_demographics[col].str.replace(",", "")

#changing the column value type from object to float
nyc_demographics[['White', 'NonHispanic', 'Black', 'Asian', 'Mixed',
                   'Hispanic',]]= nyc_demographics[['White', 'NonHispanic',
                    'Black', 'Asian', 'Mixed', 'Hispanic',]].astype(float)

#creating a clean dataframe that only has relevant columns
nyc_demographics_clean= db.sql("""
SELECT Year, White, NonHispanic, Black, Asian, Mixed, Hispanic
FROM nyc_demographics
WHERE Year > 1980""").df()
print(nyc_demographics_clean)

   Year      White  NonHispanic      Black      Asian      Mixed   Hispanic
0  1990  3827088.0    3163125.0  2102512.0   512719.0   880245.0  1783511.0
1  2000  3576385.0    2801267.0  2129762.0   792477.0  1509654.0  2160554.0
2  2010  3597341.0    2722904.0  2088510.0  1043535.0  1445747.0  2336076.0
3  2020  3000945.0    2719856.0  1943645.0  1385144.0  2474456.0  2490350.0