In [19]:
import pandas as pd
felonies_csv= pd.read_csv("felony.csv")
for column in felonies_csv.columns:
    if felonies_csv[column].dtype == 'object':
        felonies_csv[column] = felonies_csv[column].str.replace(",", "")
        felonies_csv[column]
felonies_csv.head()
felonies_csv.tail()

,OFFENSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,MURDER & NON-NEGL. MANSLAUGHTER,673,649,587,597,570,539,596,496,523,...,335,333,352,335,292,295,319,468,488,438
1,RAPE,2068,1981,2144,2070,1905,1858,1525,1351,1299,...,1378,1352,1438,1438,1449,1794,1755,1427,1491,1617
2,ROBBERY,32562,28202,27229,25989,24373,24722,23739,21809,22401,...,19128,16539,16931,15500,13956,12913,13371,13106,13831,17411
3,FELONY ASSAULT,25924,23453,21147,19139,18622,17750,17309,17493,16284,...,20297,20207,20270,20847,20052,20208,20698,20572,22835,26063
4,BURGLARY,38352,32763,31275,29110,26976,24117,23143,21762,20725,...,17429,16765,15125,12990,12083,11687,10783,15478,12811,15746